html, body{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	font-size:18px;
	color:#1D2228;
	font-family: 'Muli', sans-serif;
}
#sections-menu{
	position: absolute;
	z-index:999;
	list-style: none;
	right:10px;
	top:35%;
}
#sections-menu li{
	color:white;
}
#sections-menu li.active{
	color:#FB8122;
}
.menu{
	display:none;
	width:100%;
	height:100vh;
	background:#1D2228;
	position:absolute;
	z-index:9998;
	font-size:22px;
}
.menu-items{
	height:100vh;
	padding-top:40px;
}
.menu-items i{
	margin-right:10px;
}
.yy{
	height:100vh;
	transition:all ease 0.3s;
	background-color:#E1E2E2;
}
.menu-burger{
	position:fixed;
	z-index: 9999;
	margin:10px;
	background:none;
	border:none;
	outline:none;
	font-size:28px;
	color:white;
}
.section{
	width:100%;
	height:100vh;
	position:relative;
	color:white;
}
.section-cd{
	width:50%;
	height:100vh;
	float:left;
	background-size: cover;
	background-position: 50% 50%;
}
#particles-js{
	background:#1D2228;
	color:white;
}
.title{
	top:20%;
	left:15%;
	max-width:700px;
	position:absolute;
	color:white;
	z-index:9999;
}
.title .main{
	font-size:80px;
	font-weight:bold;
	color:#FB8122;
	letter-spacing:-2px;
}
.links a{
	color:white;
}
.links{
	padding-left:10px;
	margin-bottom:1em;
}
.links i{
	font-size:40px;
	margin-right:15px
}
#typed{
	font-size:40px;
}
.typed-cursor{
	font-size:40px;
}
#bg-red{
	color:#FB8122;
	font-weight:bold;
}
#clippy{
	top:45%;
	width:25px;
	height:25px;
	background:red;
	clip-path: polygon(0 100%, 0 0, 100% 0);
	position:absolute;
	right:49%;
}
.info-block{
	color:white;
	width:70%;
	height:auto;
	margin:0 auto;
	margin-top:150px;
	padding:10px;
}
.info-block p{
	font-size:15px;
	font-weight:bold;
}
.info-block h1{
	font-size:45px;
}
.info-block hr{
	width:15%;
	border:1.2px solid white;
}
.info-block p a{
	color:white;
}