* {
  font-family: 'Roboto', sans-serif;
}

section {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.dark-shell {
  width: 100%;
  height: 100%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.7);
}

#current .title {
  font-size: 100px;
  letter-spacing: 0.06em;
  font-weight: bold;
}

#current #my-btn {
  padding-left: 90px;
  padding-right: 90px;
}

#current .sub {
  width: 500px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.dark-shell-current {
  padding-top: 180px;
}

.navbar-brand {
  font-size: 25px;
  margin-top: -3px;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #current .title {
    font-size: 30px;
    letter-spacing: 0.06em;
    font-weight: bold;
    margin-bottom: 40px;
  }
  #current .sub {
    width: 100%;
    font-size: 14px;
  }
  .dark-shell-current {
    padding-top: 200px;
  }
}

#ex0 {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/library-background.jpg);
}

#ex1 {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/mygoals.jpg);
}

#ex2 {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/chess-background.jpg);
}

#clippy {
  top: 50%;
  width: 25px;
  height: 25px;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
          clip-path: polygon(0 100%, 0 0, 100% 0);
  position: absolute;
  right: -3.5%;
}

.info-block {
  color: white;
  width: 75%;
  height: auto;
  margin: 0 auto;
  margin-top: 190px;
  padding: 10px;
}

.info-block p {
  font-size: 15px;
}

.info-block h1 {
  font-size: 45px;
}

.info-block hr {
  width: 15%;
  border: 1.2px solid white;
}

.info-block p a {
  color: white;
}

#weblinks {
  margin-bottom: 50px;
  font-size: 3.7em;
  letter-spacing: 0.06em;
}

#weblinks a {
  margin: 50px;
}

@media only screen and (max-width: 768px) {
  #weblinks {
    font-size: 1.7em;
  }
  #weblinks a {
    margin: 10px;
  }
  #mob {
    width: 100%;
    height: 100%;
    padding:.5px;
  }
  #non-mob {
    display: none;
  }
}

.my-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.grid-item {
  color: white;
  display: inline-block;
  width: 380px;
  height: 380px;
  padding-bottom: 20px;
  background-color: #A32734;
  margin: 20px;
  cursor: default;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.grid-item:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  background: #B02222;
}

.grid-item .head {
  width: 100%;
  height: 50%;
  background-image: url(../img/mybooks.jpg);
  background-size: cover;
}

.grid-item .body {
  text-align: left;
  padding: 25px;
}

.isDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}

#project {
  background-image: url(../img/project.jpg);
  background-size: cover;
}

.project-main {
  width: 100%;
  height: auto;
  background: white;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 150px;
}

.project-body {
  width: 100%;
  height: auto;
  background: white;
  padding: 20px;
  padding-bottom: 50px;
}

.project-main .title {
  margin: 0;
  font-weight: bold;
}

.project-main hr {
  width: 5%;
  border: 5px solid #01645C;
  margin-bottom: 30px;
}

.project-main .lang {
  padding: 10px;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .grid-item {
    width: 280px;
  }
}

#my-int-row .col-lg-6 {
  min-height: 420px;
  height: auto;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
