html, body{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	font-size:18px;
	color:#1D2228;
	font-family: 'Montserrat', sans-serif;
}
#sections-menu{
	position: absolute;
	z-index:9999;
	list-style: none;
	right:10px;
	top:35%;
}
#sections-menu li{
	color:#E1E2E2;
}
#sections-menu li.active{
	/*color:#FB8122;*/
	color:black;
}
#menu{
	list-style:none;
	z-index:3;
 	width:100%;
 	margin:0;
 	padding:0;
}
#menu li{
	width:100%;
	padding:15px;
	transition:all ease 0.3s;
	border-bottom: 1px solid #FB8122;
}
#menu li:hover{
	background:#FB8122;
}
#menu a{
	color:white;
	text-decoration:none;
}
.menu{
	padding-top:30px;
	position:absolute;
	z-index:9998;
	width:0%;
	height:100vh;
	left:0;
	/*background:#1D2228;*/
	background:rgba(0,0,0,.95);
	color:white;
}
.menu-items{
	display:none;
}
.menu-burger{
	position:fixed;
	z-index: 9999;
	margin:10px;
	background:none;
	border:none;
	outline:none;
	font-size:28px;
	/*color:#E1E2E2;*/
}
.section{
	width:100%;
	height:100vh;
	position:relative;
}
.section-cd{
	width:50%;
	height:100vh;
	float:left;
	background-size: cover;
	background-position: 50% 50%;
}
#particles-js{
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
	background-size: cover;
	background-position: 50% 50%;
}
.title{
	width: 500px;
	height:200px;
	position:absolute;
	top:30%;
	text-align:center;
	color:white;
	padding-top:50px;
	z-index:9999;
	left:31%;
}
#typed, .typed-cursor{
	font-size:40px;
}
#bg-red{
	color:black;
	font-weight:bold;
}
#clippy{
	top:45%;
	width:25px;
	height:25px;
	background:red;
	clip-path: polygon(0 100%, 0 0, 100% 0);
	position:absolute;
	right:49%;
}
.info-block{
	width:70%;
	height:auto;
	margin:0 auto;
	margin-top:150px;
	padding:10px;
}
.info-block p{
	font-size:15px;
	font-weight:bold;
}
.info-block h1{
	font-size:45px;
}
.info-block hr{
	width:15%;
	border:1.2px solid black;
}