@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

* {
  font-family: 'Questrial', sans-serif;
}

.fx-name{
  font-size:100px;
  padding-top:50px;
}

.fx-hr{
  width:100px;
  border:3px solid white;
  opacity: .7;
}

.fx-dev{
  text-transform: uppercase;
  opacity: .7;
  padding-bottom:100px;
}

.fx-clippy{
  margin:0 auto;
  width:150px;
  height:130px;
  padding:0;
  margin-top:-90;
  border-radius:50%;
  text-align: center;
}

.fx-clippy i {
  margin-top:65px;
  font-size: 50px;
  opacity:.5;
}

.fx-date{
  width: 60px;
  height: 60px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  padding-top:20px;
  margin:0 auto;
  margin-bottom:10px;
}

.fx-date span{
  font-size:14px;
  padding-top:20px;
}

.fx-icon {
  width:100px;
  height:100px;
  background: rgba(52,58,64,1);
  font-size:50px;
  border-radius:50%;
  padding:25px;
  margin:0 auto;
  color:white;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-bottom:20px;
}

.fx-icon:hover { color: rgba(219,53,69,1); }
.fx-blog .fx-icon { padding-top:15; font-family: 'Baskervville', serif; }
.fx-blog:hover { text-decoration: none; }

.fx-item{
  color: rgba(255,255,255,.5);
  cursor: pointer;
  padding-bottom:10px;
  border-bottom: 5px solid rgba(255,255,255,.2);
  transition: all ease 0.3s;
  text-transform: uppercase;
}

.fx-item:hover{
  color: rgba(219,53,69,1);
  border-bottom: 5px solid rgba(219,53,69,1);
}

.fx-item-active{
  color: rgba(219,53,69,1);
  border-bottom: 5px solid rgba(219,53,69,1);
}

.fx-container{
  display: block;
  width:100%;
  margin:0 auto;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.fx-img{
  display: inline-block;
  box-sizing: border-box;
  width:250px;
  height:250px;
  text-align: center;
  border-radius:50%;
  transition: all ease 0.3s;
  cursor: pointer;
  margin:10px;
}

.fx-img:hover .fx-img-desc{ opacity: 1; }

.fx-img img{
  border-radius:50%;
  width:100%;
  height:100%;
  background: cover;
}

.fx-img-desc{
  opacity: 0;
  position: absolute;
  width:250px;
  height:250px;
  border-radius:50%;
  padding:20px;
  padding-top:40px;
  transition: all ease 0.5s;
  overflow: hidden;
}

.fx-img-hr{
  width:15%;
  border:2px solid white;
}

.fx-me{
  width:400px;
  height:400px;
  background: url(../img/me.jpg);
  background-size: cover;
  border-radius:50%;
  margin:0 auto;
}

.fx-contacts{
  padding-top: 100px;
}

@media only screen and (max-width: 768px) {
  .fx-name{
    font-size:40px;
    padding-top:50px;
  }
  .fx-dev{
    font-size:20px;
    text-transform: uppercase;
    opacity: .7;
    padding-bottom:100px;
  }
  .fx-icon {
    width:50px;
    height:50px;
    font-size:25px;
    padding:10px;
    padding-top:14px;
  }
  .col-xs-3{
    margin:0 auto;
  }
  .fx-me{
    width:200px;
    height:200px;
  }
  .fx-contacts{
    padding-top:50px;
  }
  .fx-contacts h2{
    font-size:25px;
    text-align: center;
  }
  #fx-blog{
    padding:0 !important;
    text-align:center !important;
  }
}