// GENERAL

*{ font-family: 'Roboto', sans-serif; }

section{
    width:100%;
    min-height:100vh;
    height:auto;
}

@mixin current-settings {
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.dark-shell{
    width:100%;
    height:100%;
    padding:50px;
    background: rgba(0,0,0,.7);
}
#current .title{
    font-size: 100px;
    letter-spacing:0.06em;
    font-weight: bold;
}
#current #my-btn{
    padding-left: 90px;
    padding-right: 90px;
}
#current .sub{
    width:500px;
    margin:0 auto;
    font-size:18px;
    margin-top:20px;
    margin-bottom:40px;
}
.dark-shell-current{
    padding-top:180px;
}

.navbar-brand{
    font-size: 25px;
    margin-top:-3px;
}

.row{
    width:100%;
    margin:0;
    padding:0;
}

// -------------------------------------------------
// Backgrounds

#ex0{ @include current-settings; background-image: url(../img/library-background.jpg); }
#ex1{ @include current-settings; background-image: url(../img/mygoals.jpg); }

// -------------------------------------------------
// Index

$index-font-color: white;
$clippy-size: 25px;
$media-size: 3.7em;
$link-margin: 50px;

#clippy{
	top:50%;
	width:$clippy-size;
	height:$clippy-size;
	clip-path: polygon(0 100%, 0 0, 100% 0);
	position:absolute;
	right:-3.5%;
}
.info-block{
	color:$index-font-color;
	width:75%;
	height:auto;
	margin:0 auto;
    margin-top:190px;
	padding:10px;
}
.info-block p{ 	font-size:15px; }
.info-block h1{ font-size:45px; }
.info-block hr{
	width:15%;
	border:1.2px solid $index-font-color;
}
.info-block p a{ color:$index-font-color; }
#weblinks{
    margin-bottom:50px;
    font-size: $media-size;
    letter-spacing:0.06em;
}
#weblinks a{ margin: $link-margin; }
// -------------------------------------------------
// MyProjects

$grid-size: 380px;
$grid-background: #A32734;
$grid-background-hover: #B02222;
$grid-margin: 20px;
$grid-head-background: url(../img/mybooks.jpg); 

.my-container{
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}

.grid-item{
    color:white;
    display: inline-block;
    width: $grid-size;
    height:$grid-size;
    padding-bottom:20px;
    background-color: $grid-background;
    margin: $grid-margin;
    cursor: default;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all ease 0.3s;
}

.grid-item:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.9);
    background: $grid-background-hover;
}

.grid-item .head {
    width:100%; 
    height:50%; 
    background-image: $grid-head-background;
    background-size:cover;
}

.grid-item .body {
    text-align:left;
    padding:25px;
}

.isDisabled{
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5; 
}

#project{
    background-image: url(../img/project.jpg);
    background-size: cover;
}

.project-main{
    width:100%;
    height:300px;
    background:white;
    text-align: right;
    padding-right:20px;
}

.project-main .title{
    margin:0;
    font-weight: bold;
}
.project-main hr{
    width:5%;
    border: 5px solid #01645C;
    margin-bottom:30px;
}
.project-main .lang{
    padding:10px;
    color:white;
    font-size:20px;
    margin-left:10px;
    border-radius:15px;
}